@font-face {
  font-family: "opensans-bold";
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "poppins-bold";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}

:root {
  --pink: #ff52bf;
  --lightPink: #ff8fd8;
  --lightRed: #ff4242;
  --darkCyan: #00252e;
  --paleBlue: #f5faff;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  font-family: "opensans-bold", serif;
  font-size: 40px;
}

h2 {
  font-family: "poppins-bold", serif;
}

p {
  font-family: "poppins-light", serif;
  font-size: 12px;
}

body {
  width: 100%;
  overflow-x: hidden;
}
.padding-container {
  padding: 50px;
}
.logo {
  height: 29px;
  width: 179px;
}
.ctaBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--lightPink);
  border: 2px solid var(--lightPink);
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
}
.ctaBtn:hover {
  background-color: var(--paleBlue);
  color: var(--pink);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description-container {
  margin-top: 175px;
  margin-bottom: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.description-paragraph {
  width: 400px;
  text-align: center;
}
.trybutton {
  background-color: var(--lightPink);
  color: var(--paleBlue);
  width: 296px;
  height: 61px;
  border-radius: 30px;
  border: 1px solid var(--lightPink);
  cursor: pointer;
}
.trybutton:hover {
  background-color: var(--paleBlue);
  color: var(--pink);
}
.ending {
  margin-top: 148px;
  margin-bottom: 126px;
  text-align: center;
}
.ending h1 {
  margin-bottom: 20px;
}
.secondbutton {
  background-color: var(--lightPink);
  color: var(--paleBlue);
  width: 296px;
  height: 61px;
  border-radius: 30px;
  border: 1px solid var(--lightPink);
  cursor: pointer;
  gap: 20px;
}
.secondbutton:hover {
  background-color: var(--paleBlue);
  color: var(--pink);
}

.mockup-container {
  width: 100;
  text-align: center;
}

.mockup-image {
  width: 760px;
}

.statistics-container {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  padding: 0px 300px 0px 300px;
}

.bold-numbers {
  font-size: 50px;
  margin: 10px 0;
}

.remarks {
  color: var(--darkCyan);
  font-family: "poppins-light", serif;
}
.wavecontainer {
  width: 100%;
}
.contain-container {
  height: 470px;
  width: 100%;
  margin-top: -8px;
}
.blue-background {
  background-color: var(--paleBlue);
}
.content {
  display: flex;
  justify-content: space-between;
  padding: 0 45px 0 45px;
}

.text-content {
  height: 318px;
  width: 386px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-content h2 {
  margin-bottom: 20px;
}
.growing-together-image {
  height: 318px;
  width: 386px;
}
.footer-img {
  width: 100%;
}
.footer-container {
  height: 425px;
  background-color: var(--darkCyan);
  margin-top: -8px;
  display: flex;
  justify-content: space-between;
}
.footer-container-left {
  width: 280px;
}
.footer-container-right {
  width: 385px;
  color: var(--paleBlue);
}
.footer-container-right h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.para-container {
  margin-bottom: 20px;
}
.bottom-text {
  color: var(--paleBlue);
}
.bottom-logo {
  margin-bottom: 20px;
}
.bottom-contact-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.bottom-contact-img {
  margin-right: 15px;
}
.bottom-contact-text {
  color: var(--paleBlue);
}
.box {
  height: 35px;
  width: 235px;
  border-radius: 7px;
  border: none;
  margin-right: 15px;
}
.sub {
  height: 35px;
  width: 120px;
  color: var(--paleBlue);
  background-color: var(--pink);
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
.sub:hover {
  background-color: var(--paleBlue);
  color: var(--pink);
}
@media only screen and (max-width: 850px) {
  .mockup-image {
    width: 350px;
  }
  .statistics-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  .ending {
    margin-top: 40px;
    margin-bottom: 126px;
    text-align: center;
  }
  .ending h1 {
    margin-bottom: 20px;
  }
}
