:root {
  --pink: #ff52bf;
  --lightPink: #ff8fd8;
  --lightRed: #ff4242;
  --darkCyan: #00252e;
  --paleBlue: #f5faff;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}
.padding-container {
  padding: 50px;
}
.logo {
  height: 29px;
  width: 179px;
}
.ctaBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--lightPink);
  border: 2px solid var(--lightPink);
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
}
.ctaBtn:hover {
  background-color: var(--paleBlue);
  color: var(--pink);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.description-container {
  margin-top: 175px;
  margin-bottom: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.description-paragraph {
  width: 400px;
  text-align: center;
}
.trybutton {
  background-color: var(--lightPink);
  color: var(--paleBlue);
  width: 296px;
  height: 61px;
  border-radius: 30px;
  border: 1px solid var(--lightPink);
  cursor: pointer;
}
.trybutton:hover {
  background-color: var(--paleBlue);
  color: var(--pink);
}
.ending {
  margin-top: 148px;
  margin-bottom: 126px;
  text-align: center;
}
.ending h1 {
  margin-bottom: 20px;
}
.secondbutton {
  background-color: var(--lightPink);
  color: var(--paleBlue);
  width: 296px;
  height: 61px;
  border-radius: 30px;
  border: 1px solid var(--lightPink);
  cursor: pointer;
  gap: 20px;
}
.secondbutton:hover {
  background-color: var(--paleBlue);
  color: var(--pink);
}

.mockup-container {
  width: 100;
  text-align: center;
}

.mockup-image {
  width: 760px;
}

.statistics-container {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  padding: 0px 400px 0px 400px;
}

.bold-numbers {
  font-size: 50px;
  margin: 10px 0;
}

.remarks {
  color: var(--darkCyan);
}
.wavecontainer {
  width: 100%;
}
.contain-container {
  height: 470px;
  width: 100%;
  margin-top: -5px;
}
.blue-background {
  background-color: var(--paleBlue);
}
.content {
  display: flex;
  justify-content: space-between;
  padding: 0 45px 0 45px;
}

.text-content {
  height: 318px;
  width: 386px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-content h2 {
  margin-bottom: 20px;
}
.growing-together-image {
  height: 318px;
  width: 386px;
}

@media only screen and (max-width: 850px) {
  .mockup-image {
    width: 350px;
  }
  .statistics-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  .ending {
    margin-top: 40px;
    margin-bottom: 126px;
    text-align: center;
  }
  .ending h1 {
    margin-bottom: 20px;
  }
}
